@use "variables" as *;

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .slider {
    position: relative;
    height: 100%;
  }

  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.activo {
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
  }

  .contenido-slide {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
    max-width: 500px;
    padding: 1rem 1rem;
    background: rgb(255 249 249 / 10%);
    border-radius: 20px;
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 20px rgb(0 0 0 / 6%);
    text-shadow: 1px 1px 9px rgba(255, 255, 255, 0.941) !important;


    h1 {
      margin-bottom: 0.5rem;
      font-size: 2rem;
    }

    p {
      font-size: 1.1rem;
    }
  }

  .btn-hero {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.2rem;
    background: rgba(255, 255, 255, 0.575);

    color: $color-texto-oscuro;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s ease;

    &:hover {
      background: $color-principal-hover;
      color: #fff;
    }
  }

  
  .flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    z-index: 5;

    &.izquierda { left: 10px; }
    &.derecha { right: 10px; }

    &:hover { background: rgba(0,0,0,0.8); }
  }

  .puntos {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;

    button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: none;
      background: #ccc;
      cursor: pointer;
      transition: background 0.3s;

      &[aria-current="true"] {
        background: $color-principal;
      }
    }
  }
}
